*{
  padding: 0;
  margin: 0;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url('./images/shutterstock_732378577.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* ヘッダー */
.header {
  height: 70px;
  width: 100%;
  color: white;
  line-height: 70px;
  font-size: 1.5rem;
}

/* メイン */
.main {
  height:100vh;
  opacity: 90%;
  font-size: 1.0rem;
}

.todo {
  height: 600px;
  width: 300px;
  background: white;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
  border-radius: 5px;
}