* {
  padding: 0;
  margin: 0;
}

body {
  background: #bbe5ff;
  height: 100vh;
}

h2 {
  padding: 10px;
}

@media (min-width: 768px) {
  .todo {
    height: 600px;
    width: 400px;
    background: white;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }
}


.btn-blue,
a.btn-blue {
  color: #fff;
  background-color: #0085eb;
  border: none;
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 1.0rem;
}

.btn-blue:hover,
a.btn-blue:hover {
  color: #fff;
  background: #0085eb;
}

.textbox-001-label,
.textbox-001 {
  color: #333;
}

.textbox-001-label {
  display: block;
  margin-bottom: 5px;
  font-size: .9em;
}

.textbox-001 {
  width: 60%;
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #969da3;
  border-radius: 3px;
  font-size: 1em;
}

.textbox-001::placeholder {
  color: #999;
}

.todo-area {
  margin: 30px 50px;
  display: flex;
  justify-content: space-between;
  width: 77%;
}